.about {
  margin-top: 4rem;
  padding-bottom: 15rem;

  &__container {
    padding-left: 25rem;
    padding-right: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .profile-img {
      margin-right: 5rem;
      min-width: 20rem;
      position: relative;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        border: 0.4rem solid $purple-1;
        left: -2.5rem;
        bottom: -1.7rem;
        width: 18rem;
        height: 20rem;
        background-color: transparent;
        z-index: -9;
      }
    }

    .profile-details {
      .heading {
        text-align: center;
        line-height: 0;
        margin-bottom: 7rem;

        h1 {
          font-size: 10rem;
          opacity: 0.3;
        }

        h6 {
          font-size: 2rem;
          font-weight: 300;
        }
      }

      .description {
        flex: 1;
        font-size: 1.9rem;
        font-weight: 400;
        color: $grey-1;
      }

      .social-media {
        .nav-items {
          display: flex;
        }

        .nav-links {
          display: flex;
          list-style: none;
          align-items: center;
        }

        .nav-link {
          text-decoration: none;
        }

        i {
          margin-top: 2rem;
          margin-right: 2rem;
          font-size: 2.5rem;
          transition: color 0.4s;
          color: $purple-1;
        }

        .fa-linkedin-in:hover {
          color: #0077b5;
        }

        .fa-github-square:hover {
          color: $black-1;
        }

        .fa-instagram-square:hover {
          color: #d6249f;
        }
      }
    }
  }
}
