.header {
  min-height: 100vh;
}

.hero__heading {
  margin-top: 20rem;

  .heading-main {
    font-size: 10rem;
    letter-spacing: 0.2rem;
    font-weight: 800;
    color: $purple-1;
    animation: moveInRight 0.9s ease-out;
  }

  .heading-sub {
    font-size: 3rem;
    font-weight: 600;
    color: $black-1;
    animation: moveInLeft 0.9s ease-out;

    span {
      color: $purple-1;
    }
  }

  .heading-small {
    font-size: 2rem;
    font-weight: 600;
    animation: moveInLeft 0.9s ease-out;
  }
}
