.quote {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 17rem auto; //Checkbox

  &-container {
    font-family: $font-primary;
    width: auto;
    max-width: 80rem;
    padding: 4rem 3rem;
    border-radius: 1rem;

    .quote-text {
      font-size: 3rem;
      font-weight: 600;
      color: $black-1;
    }

    .long-quote {
      font-size: 2.5rem;
    }

    .fa-quote-left {
      font-size: 3.8rem;
      color: $purple-1;
      margin-right: 0.5rem;
    }
  }

  &-author {
    margin-top: 1.5rem;
    font-size: 2.2rem;
    font-weight: 400;
    color: $purple-1;
    font-style: italic;
  }

  &-button {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;

    button {
      cursor: pointer;
      padding: 0.8rem 2.5rem;
      color: $white;
      background: $black-1;
      border: none;
      outline: none;
      border-radius: 1rem;
      height: 4rem;
      font-size: 1.8rem;
      box-shadow: 0 0.3rem rgba($grey-1, 0.65);

      &:hover {
        filter: brightness(120%);
      }

      &:active {
        transform: translate(0, 0.2rem);
        box-shadow: 0 0.1rem rgba($white, 0.65);
      }
    }

    .twitter-btn:hover {
      color: #38a1f3;
    }
    .fa-twitter {
      font-size: 2.4rem;
    }
  }

  /* LOADING SPINNER */
  .loader {
    border: 1.2rem solid #f3f3f3;
    border-top: 1.2rem solid $purple-1;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* MEDIA QUERY */
  @media screen and (max-width: $lg) {
    .quote-container {
      margin: auto 1rem;
    }
    .quote-text {
      font-size: 3rem;
    }
    .fa-quote-left {
      font-size: 4.2rem;
    }
    .quote-author {
      font-size: 2.2rem;
    }
  }
}
