.skills {
  padding-top: 10rem;
  padding-bottom: 20rem;
  padding-left: 16rem;
  padding-right: 16rem;

  @media only screen and (max-width: $xl) {
    padding-left: 0;
    padding-right: 0;
  }

  &__heading {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;
    color: $black-1;
    position: relative;
    margin-bottom: 7rem;

    @media only screen and (max-width: $sm) {
      font-size: 5rem;
    }

    .border {
      position: absolute;
      width: 20%;
      height: 0.4rem;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: $purple-1;

      @media only screen and (max-width: $sm) {
        width: 30%;
      }
    }
  }

  &__description {
    font-size: 1.9rem;
    font-weight: 400;
    color: $grey-1;
    padding-left: 15rem;
    padding-right: 15rem;
    min-width: 60rem;

    @media only screen and (max-width: $xl) {
      min-width: 20rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 3.5rem;
      margin-right: 3.5rem;
      text-align: justify;
      display: flex;
    }
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;

    .icon {
      display: flex;
      height: 6rem;
      width: 6rem;

      @media only screen and (max-width: $sm) {
        height: 5.1rem;
        width: 5.1rem;
      }
    }
  }
}
