// .popup {
//   height: 100vh;
//   width: 100%;
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-color: rgba($black, 0.9);
//   z-index: 3000;
//   opacity: 0;
//   visibility: hidden;
//   transition: all 0.3s;

//   @supports (-webkit-backdrop-filter: blur(10px)) or
//     (backdrop-filter: blur(10px)) {
//     -webkit-backdrop-filter: blur(10px);
//     backdrop-filter: blur(10px);
//   }

//   &__content {
//     @include absCenter;
//     width: 75%;
//     background-color: $color-white;
//     box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
//     border-radius: 3px;
//     display: table;
//     overflow: hidden;
//     opacity: 0;
//     transform: translate(-50%, -50%) scale(0.25);
//     transition: all 0.4s 0.2s;
//   }

//   &__left {
//     width: 33.333333%;
//     display: table-cell;
//     @include lgt {
//       width: 0;
//     }

//     @include smt {
//       width: 0;
//     }
//   }

//   &__right {
//     width: 66.6666667%;
//     display: table-cell;
//     vertical-align: middle;
//     padding: 2.1rem 5rem;

//     @include lgt {
//       width: 100%;
//       vertical-align: middle;
//       padding: 2.1rem 5rem;
//     }

//     @include smt {
//       width: 100%;
//       vertical-align: middle;
//       padding: 2.1rem 5rem;
//     }
//   }

//   &__img {
//     display: block;
//     width: 100%;

//     @include lgt {
//       display: none;
//     }
//   }

//   &__text {
//     font-size: 1.4rem;
//     margin-bottom: 4rem;
//     text-align: justify;
//     line-height: 1.5;

//     column-count: 2;
//     column-gap: 4rem;
//     column-rule: 1px solid $color-grey-light-2;
//     -moz-column-count: 2;
//     -ms-column-gap: 4rem;
//     -webkit-column-rule: 1px solid $color-grey-light-2;

//     hyphens: auto;
//     -moz-hyphens: auto;
//     -ms-hyphens: auto;
//     -webkit-hyphens: auto;
//   }

//   // Open states
//   &:target {
//     opacity: 1;
//     visibility: visible;
//   }

//   &:target &__content {
//     opacity: 1;
//     transform: translate(-50%, -50%) scale(1);
//   }

//   &__close {
//     &:link,
//     &:visited {
//       position: absolute;
//       color: $color-grey-dark;
//       top: 1.5rem;
//       right: 2.5rem;
//       font-size: 3rem;
//       text-decoration: none;
//       display: inline-block;
//       transition: all 0.2s;
//       line-height: 1;
//     }

//     &:hover {
//       color: $color-primary;
//     }
//   }
// }
