// FONTFACE
@font-face {
  font-family: 'telegraf';
  font-weight: 200;
  src: url(../font/Telegraf-UltraLight.otf) format('opentype');
}

@font-face {
  font-family: 'telegraf';
  font-weight: 300;
  src: url(../font/Telegraf-Light.otf) format('opentype');
}

@font-face {
  font-family: 'telegraf';
  font-weight: 400;
  src: url(../font/Telegraf-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'telegraf';
  font-weight: 500;
  src: url(../font/Telegraf-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'telegraf';
  font-weight: 600;
  src: url(../font/Telegraf-SemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'telegraf';
  font-weight: 700;
  src: url(../font/Telegraf-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'telegraf';
  font-weight: 800;
  src: url(../font/Telegraf-UltraBold.otf) format('opentype');
}
